{% extends "templates/layout.jinja2" %}
{% block content %}
    <h1>{{ title }}</h1>
    <form action="/login" class="login-grid-container">
        <label class="login-label1" for="username">Username:</label>
        <input class="login-field1" type="text" id="username" name="username" value="Guest">
        <label class="login-label2" for="password">Password:</label>
        <input class="login-field2" type="text" id="password" name="username" value="">
        <input class="login-submit" type="submit" value="Submit">
    </form>
{% endblock %}
